doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
  body
    include navbar.jade
    block content
