<div class="container" ng-controller="ProjectController as project">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="text-center"><h3><b>Add Project</b></h3></div>
            <form method="post" role="form" autocomplete="off" ng-submit="project.createProject()">

                <div class="form-group">
                    <input type="text" name="title" id="title" tabindex="1" class="form-control" placeholder="Title" ng-model="project.projectData.title">
                </div>

                <div class="form-group">
                    <input type="text" name="description" id="description" tabindex="1" class="form-control" placeholder="Description" ng-model="project.projectData.description">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-success" value="Save Project">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



<br>
<ul>
    <li ng-repeat="p in project.projects"><a href="#!" >{{ p.title }}</a></li>
</ul>

</div>

