<div class="panel panel-primary"> <!-- div panel -->
    <div class="panel-heading">Add Project</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Subject
                                    </label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:
                                        </option>
                                        <option value="service">General Customer Service
                                        </option>
                                        <option value="suggestions">Suggestions
                                        </option>
                                        <option value="product">Product Support
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message
                                    </label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <form>
                    <legend>
                        <span class="glyphicon glyphicon-globe">
                        </span> Our office
                    </legend>
                    <address>
                        WeaveBytes InfoTech Pvt. Ltd. <br> 
                        <strong>Opposite Bank Square
                        </strong>
                        <br> 
                        <strong>#81, City Heart, Sector-125,
                        </strong>
                        <br>
                        Mohali, India
                        <br>
                        <br>
                        Phone No.: 0160-5004037 
                        <br>
                        Mobile No.: 98880-08694
                    </address>
                    <address>    
                        <strong>Full Name
                        </strong>
                        <br>
                        <a href="mailto:#">hrm.weavebytes@gmail.com</a>
                    </address>
                </form>
            </div>
        </div>

    </div><!-- div panel-body -->
</div><!-- div panel -->
