<div class="jumbotron text-center" ng-if="!main.loggedIn">

<div>
	<h1>Sign up</h1>
</div>

<div>
	<p>Login</p>
	<a href="#!login" class="btn btn-primary">Login</a>
</div>



</div>


<div class="row" ng-if="main.loggedIn">

	<div class="col-md-3">
	
	</div>

	<div class="col-md-4" ng-controller="StoryController as story">
		<div class="row">
			<div class ="panel panel-primary">
				<div class ="panel-heading">Write your story</div>

				<div class ="panel-body">
					<form ng-submit="story.createStory()">
						<input class="form-control input-lg" type="text" name="content" ng-model="story.storyData.content" palceholder="Story content" required>
					</form>

				</div>
			
			</div> <!-- primary -->

			<div class ="panel panel-success">
				<div class ="panel-body" ng-repeat="s in story.stories">
				<p>{{ s.content }} </p>
				</div>
			</div>

		</div>
	</div>
</div>

