<div class="jumbotron text-center" ng-if="!main.loggedIn">
  
  <div ng-include="'login.html'"></div>

</div>


<div class="row" ng-if="main.loggedIn">

	<div class="col-md-3">
	
	</div>

	<div class="col-md-4">
		<div class="row">
			<div class ="panel panel-primary">
				<div class ="panel-heading">Create Projects And Issues</div>

				<div class ="panel-body">
					<form ng-submit="story.createStory()">
						<input class="form-control input-lg" type="text" name="content" ng-model="story.storyData.content" palceholder="Story content" required>
					</form>

				</div>
			
			</div> <!-- primary -->

			<div class ="panel panel-success">
				<div class ="panel-body" ng-repeat="s in story.stories">
				<p>{{ s.content }} </p>
				</div>
			</div>

		</div>
	</div>
</div>

