<div class="container" ng-controller="MainController as login">

    <div class="panel panel-primary"> <!-- div panel -->
        <div class="panel-heading">LOGIN</div>
        <div class="panel-body">


            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h4 ng-if="login.error" class="text-danger">{{ "Login failed - " + login.error }}</h4><br>
                    <form class="form-signin" method="post" ng-submit="login.doLogin()">
                        Username: <input type="text" name="username" class="form-control" ng-model="login.loginData.username"><br>
                        Password: <input type="password" name="password" class="form-control" ng-model="login.loginData.password"><br>

                        <button type="submit" class="btn btn-primary">LOGIN</button>
                        <a href="#!signup" class="btn btn-primary">SIGN UP</a>
                    </form>
                </div>
            </div>
        </div><!-- div panel-body -->
    </div><!-- div panel -->
</div>
