<div class="page-header">
			<h3>Looking for a higher level of control over applications and teams across your organization?</h3>
			<h5>Team manager helps accelerate your team's performance by assigning tasks, communicating and tracking progress in one place. Use the Team manager project to stay on top of your work.</h5>
			<button class="btn btn-primary">Learn more</button>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Free<span>Ideal for experimenting with cloud applications. </span></h3>
						<h4><i>$</i>0<i>.00</i><span>Per Month</span></h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li>
							Core Platform Features
						</li>
						<li>
							No Support
						</li>
						<li>
							Sleeps after 30 minutes of inactivity
						</li>
						<li>
							free dyno hours
						</li>
						<li>
							Custom domains
						</li>
					</ul>
					<div class="pricing-footer">
					<p>Sign up for free</p>
					<a href="#!signup" class="btn btn-primary">Sign Up</a>
				</div>
			</div>
		</div>
			<div class="col-md-3">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Begginer<span>Perfect for small scale personal projects and hobby projects.</span></h3>
						<h4><i>$</i>4<i>.00</i><span>Per Month</span></h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li>
							Core Platform Features
						</li>
						<li>
							No Support
						</li>
						<li>
							Never sleeps
						</li>
						<li>
							Management for custom domains
						</li>
						<li>
							Application metrics
						</li>
					</ul>
					<div class="pricing-footer">
						<p>Sign up for just 4 Dollars.</p>
						<a href="#!signup" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pricing hover-effect">
					<div class="pricing-head ">
						<h3>Professional<span>Enhanced visibility, performance, and availability.</span>
						</h3>
						<h4><i>$</i>12<i>.00</i><span>Per Month</span></h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li>
							All standard Features
						</li>
						<li>
							No Support
						</li>
						<li>
							Simple horizontal scalability
						</li>
						<li>
							Preboot
						</li>
						<li>
							Language runtime metrics
						</li>
					</ul>
					<div class="pricing-footer">
						<p>Sign up for just 8 Dollars.</p>
						<a href="#!signup" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Enterprice<span>Superior performance for your super scale, high traffic projects.</span></h3>
						<h4><i>$</i>20<i>.00</i><span>Per Month</span></h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li>
							All standard Features
						</li>
						<li>
							No Support
						</li>
						<li>
							Autoscaling
						</li>
						<li>
							Mix with standard 1x, 2x dynos
						</li>
						<li>
							Dedicated
							
						</li>
					</ul>
					<div class="pricing-footer">
						<p>Sign up for just 12 Dollars.</p>
						<a href="#!signup" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
		</div>