<div class="panel panel-primary"> <!-- div panel -->
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
<div class="well" id="wel">
    <div class="row">
        <div class="col-sm-1">
            <img clas="profile-img" src="imgs/user.png" width="70px" height="70px">
        </div>
        <div class="col-sm-4" id="profile">
            <h2>Profile:Team Manager
            </h2>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <h3>Summary
    </h3>
    <h4>Account Details
    </h4>
    <div class="row">
        <p id="name">Avtar:
        <img src="user.png" width="70px" height="70px" id="user">
        </p>
    </div>
    <h5 id ="fullname">Full Name:&nbsp;Team Manager
    </h5>
    <h5 id="email">Email:&nbsp;
        <a href="#">teammanager@gmail.com
        </a>
    </h5>
    <h5 id="password">Password:&nbsp;
        <a href="#">Change Password
        </a>
    </h5>
    <p id ="details">Update these details through your 
    <a href="#">Login Account
    </a>
    </p>

</div>
<div class="row">
    <hr class="col-sm-7">
</div>
<h5 id="team">Team Manager Profile
</h5>
<h6 id="username">Username:&nbsp;weavebytes
</h6>
<h6 id="groups">Groups:&nbsp;tm-software-users
</h6>
<div class="row">
    <hr class="col-sm-7">
</div>
<h5 id="preference" >Preferences
</h5>
    <div id="prefer">
        <h6>Page Size:&nbsp;50
        </h6>
        <h6>Email Type:&nbsp;HTML
        </h6>
        <h6>Language:&nbsp;Automatically detect browser settings
        </h6>
        <h6>Time Zone:&nbsp;(GMT+05:30)Kolkata
        </h6>
        <h6>My Changes:&nbsp;Do not notify me
        </h6>
        <h6>Keyboard Shortcut:&nbsp;Unshared
        </h6>
        <h6>Autowatch:&nbsp;Enabled
        </h6>
    </div>
    <div class="row">
        <hr class="col-sm-7">
    </div>
    <div id="labs">
        <h5>Labs
        </h5>
        <p>Labs features let us experiments with new ideas and 	get real world
        feedback to improve on them. 
        <br>
        They are works in progress so they can 
        change or break or may not end up released at all.
        </p> 
        Issue detail View
        <input type="checkbox" >
    </div>
        </div><!-- div panel-body -->
    </div><!-- div panel -->