<div class="container" ng-controller="UserCreateController as ucc">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
		<h1>Sign Up</h1>
			<form class="form-signin" method="post" ng-submit="ucc.signupUser()">
	    		User: <input type="text" name="username" class="form-control" ng-model="ucc.userData.user"><br>
				Username: <input type="text" name="username" class="form-control" ng-model="ucc.userData.username"><br>
				Password: <input type="password" name="password" class="form-control" ng-model="ucc.userData.password"><br>
				<button type="submit" class="btn btn-success">SIGN UP</button>
			</form>
		</div>
	</div>
</div>