<!DOCTYPE HTML>
<html>
    <head>
        <title>congratulations page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/custom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <center>   
                <div class="verification-thumbnail">
                    <h1>Congratulations</h1>
                    <p>Your Application iS Successfull</p>
                    <img src="imgs/verification_done.jpg" alt="Verification Done">
                </div>
            </center>
        </div>
    </body>
</html>
