<div id="sidebar-wrapper" ng-if="main.isSidebarEnabled()"><!-- Sidebar -->
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand"></li>
            <li>
                <a href="#!/"><i class="glyphicon glyphicon-home " aria-hidden="true"> </i> <span style="margin-left:10px;">Home</span>  </a>
            </li>
            <li>
                <a href="#!my_team"> <i class="fa fa-user" aria-hidden="true"> </i> <span style="margin-left:10px;">My team</span> </a>
            </li>
            <li>
                <a href="#!projects"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i> <span style="margin-left:10px;">Projects</span>  </a>
            </li>
            <li>
                <a href="#!reports"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i> <span style="margin-left:10px;">Reports</span>  </a>
            </li>
            <li>
                <a href="#!project_info"> <i class="glyphicon glyphicon-question-sign" aria-hidden="true"> </i> <span style="margin-left:10px;">Issues</span> </a>
            </li>
            <li>
                <a href="#!backlogs"><i class="fa fa-info-circle " aria-hidden="true"> </i> <span style="margin-left:10px;">Backlogs</span> </a>
            </li>
            <li>
                <a href="#!messages"> <i class="fa fa-comment-o" aria-hidden="true"> </i> <span style="margin-left:10px;">Messages</span> </a>
            </li>

        </ul>
        <a href ng-click="main.toggleSidebar()" id="menu-toggle" style="position: absolute; right: 10%; bottom: 10%; color: white;"  target="_self">
            <i class="fa fa-angle-double-left" style="font-size:20px !Important;" aria-hidden="true"> </i>
        </a>  
    </nav>
</div><!-- Sidebar -->
