<div class="container" ng-controller="IssueController as issue"> <!-- div controller -->

    <div class="panel panel-primary"> <!-- div panel -->
        <div class="panel-heading">ADD ISSUE TO -> {{currentProject.title}}</div>
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <form method="post" ng-submit="issue.createIssue()">

                        <div class="row">
                            <label>Summary</label>
                            <input  type="text" class="form-control" ng-model="issue.issueData.summary"> 
                        </div>
                        <div class="row">
                            <label> Descripition </label>
                            <br><textarea name="description" class="form-control" ng-model="issue.issueData.description"> 
                            </textarea>
                        </div>
                        <div class="row">
                            <label>Assignee</label><br>
                            <select class="form-control selectpicker" ng-model="issue.issueData.assignee">
                                <option value="Nsk">NSK</option>
                                <option value="Tom">Tom</option>
                            </select>
                        </div>
                        <div class="row">
                            <label>Priority</label><br>
                            <select class="form-control selectpicker" ng-model="issue.issueData.priority">
                                <option value="BLOCKER">Blocker</option>
                                <option value="HIGH">High</option>
                                <option value="MEDIUM">Medium</option>
                                <option value="LOW">Low</option>
                            </select>                 
                        </div>
                        <div class="row">
                            <label>Type</label><br>
                            <select class="form-control selectpicker" ng-model="issue.issueData.type">
                                <option value="TASK">Task</option>
                                <option value="BUG">Bug</option>
                                <option value="ENHANCEMENT">Enhancement</option>
                            </select>

                        </div>
                        <div class="row">
                            <label>Status</label><br>
                            <select class="form-control selectpicker" ng-model="issue.issueData.status">
                                <option value="NOT-STARTED">Not Started</option>
                                <option value="WORKING">Working</option>
                                <option value="TESTING">Testing</option>
                                <option value="CLOSED">Closed</option>
                                <option value="REOPENED">Reopened</option>
                            </select>

                        </div>
                        <div class="row">
                            <label>Start Date</label> 
                            <input type="date" class="form-control" ng-model="issue.issueData.start_date"> 
                        </div>
                        <div class="row">
                            <label>End Date</label> 
                            <input type="date" class="form-control" ng-model="issue.issueData.end_date"> 
                        </div>
                        <div class="row">
                            <label>Estimated Hours:</label>
                            <input type="text" class="form-control"  ng-model="issue.issueData.estimated_hours">
                        </div><br>
                        <div class="row">         
                            <input type="submit"  id="login-submit" tabindex="2" class="btn btn-primary" value="Add Task">   <a href="#!project_info" class="btn btn-warning">Cancel</a>               
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- div panel-body -->
    </div><!-- div panel -->

</div><!-- div controller -->
