<div ng-if="!main.loggedIn">

    <!-- GENERAL INTRODUCTION OF TEAM MANAGER STARTS -->
    <div class="panel panel-primary"> <!-- div panel -->
        <div class="panel-heading">TEAM MANAGER</div>
        <div class="panel-body">
            <div class="col-sm-6">
                <img src="imgs/conference.png">
            </div>
            <div>
                <p>Accelerate your team's performance by assigning tasks, communicating and tracking progress in one place. Use the Team manager project to stay on top of your work.It gives a one-stop solution that encompasses many of our project management needs as a result, the team is more efficient and therefore more effective.</p>

                <p>Signup with team manager to build up your team and have a successful business! 
                <a href="#!login" class="btn btn-primary">Login</a> <a href="#!signup" class="btn btn-primary">Sign Up ?</a>
                </p>
            </div>

            <!-- PIE CHART DUMMy STARTS -->
            <canvas id="pie-chart" width="900" height="350"></canvas>
            <script src="js/dummy.charts.js"></script>
            <!-- PIE CHART DUMMY ENDS -->
        </div><!-- div panel-body -->
    </div><!-- div panel -->
</div><!-- if not logged in -->

<!-- GENERAL INTRODUCTION OF TEAM MANAGER ENDS -->



<div class="row" ng-if="main.loggedIn">
    <div class="panel panel-primary"> <!-- div panel -->
        <div class="panel-heading">My Dashboard</div>
        <div class="panel-body">


        <div ng-if="main.isManager()" ng-include="'views/manager/dashboard.html'"></div>
        <div ng-if="main.isWorker()"  ng-include="'views/worker/dashboard.html'"></div>
        <div ng-if="main.isAdmin()"   ng-include="'views/admin/dashboard.html'"></div>

        </div><!-- div panel-body -->
    </div><!-- div panel -->
</div><!-- if logged in -->



