<div class="panel panel-primary"> <!-- div panel -->
    <div class="panel-heading">{{currentProject.title}}</div>
    <div class="panel-body">

        <a href="#!add_issue" class="btn btn-primary">ADD ISSUE</a><br>


        <table class="table table-bordered">
        <thead>
        	<tr>
        		<th>#</th>
        		<th>Summary</th>
        		<th>Worker</th>
        		<th>Type</th>
        		<th>Priority</th>
        		<th>Status</th>
        		<th>Details</th>
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="issue in issues">
        		<td>{{$index+1}}</td>
        		<td>{{issue.summary}}</td>
        		<td>{{issue.assignee.email}}</td>
        		<td>{{issue.type}}</td>
        		<td>{{issue.priority}}</td>
        		<td>{{issue.status}}</td>
        		<td><a href="#!task_info/{{issue._id}}" class="btn btn-primary">Details</a></td>
    		</tr>
        </tbody>
        </table>
    </div><!-- div panel-body -->
</div><!-- div panel -->
