<div class="panel panel-primary"> <!-- div panel -->
    <div class="panel-heading">{{currentProject.title}}</div>
    <div class="panel-body">

        <a href="#!add_issue" class="btn btn-primary">ADD ISSUE</a><br>


        <table class="table table-bordered">
        <thead>
        	<tr>
        		<th>#</th>
        		<th>Summart</th>
        		<th>Worker</th>
        		<th>Type</th>
        		<th>Status</th>
        		<th></th>
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="issue in issues">
        		<td>{{$index+1}}</td>
        		<td>{{issue.summary}}</td>
        		<td>{{issue.assignee}}</td>
        		<td>{{issue.type}}</td>
        		<td>{{issue.status}}</td>
    		</tr>
        </tbody>
        </table>

    </div><!-- div panel-body -->
</div><!-- div panel -->
