<footer class="footer">
    <div class="container">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <ul class="nav navbar-nav">
                <li><a href="#!features">Features</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#!pricing">Pricing</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#!about_us">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#!contact_us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
